body {
    font-family: Inter,  sans-serif; /* Rodzina czcionek */
    font-size: 24px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #ffffff; /* Kolor tła strony internetowej */
    color: #000000; /* Kolor tła strony internetowej*/ 
}
h1, h2 {
    color: #5988FF; /* Kolor nagłówka */
    font-size: 32px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
    background-color: rgba(255, 255, 255, 0.219);
}